{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="row">
  <div class="col-sm-9">
    <div class="card">
      <div class="card-header">
        <h4>IELTS Essay Question</h4>
      </div>
      <div class="card-block">
        <p>Some people think that robots are important for human’s future development. Others think that robots have
          negative effects on society.
          <br />Discuss both views and give your opinion.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4>Write your answer</h4>
      </div>
      <div class="card-block">
        <form>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="20">{{answer}}</textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block text-center">
        
      </div>
    </div>
  </div>

</div>
<!-- [ Main Content ] end -->

{% endblock content %}