{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="row">

  <div class="col-md-12 text-center">
    <h1>Welcome to Anytime-IELTS!</h1>
  </div>
  <div class="col-md-3 col-xs-12">

  </div>
  <div class="col-md-6 col-xs-12 text-center">
    <img src="{% static '/assets/images/anytime.png' %}" class="img-fluid" alt="Responsive image" alt="anytime">
  </div>
  <div class="col-md-3 col-xs-12">
  </div>

  <div class="col-md-2 col-xs-12">
  </div>
  <div class="col-md-8">
    <hr class="invisible">
    {%for question in questions%}


    <div class="card">
      <a href="/writing?task={{question.id}}" class="writing-task-selection">

        <div class="card-header">
          <h5>Question {{forloop.counter}}</h5>
          <a class="label theme-bg text-white f-12">{{question.topic}}</a>
          <a class="label theme-bg2 text-white f-12">{{question.question_type}}</a>
        </div>
      </a>
      <a href="/writing?task={{question.id}}" class="writing-task-selection">
        <div class="card-body">
          <p class="text-muted mb-4">{{question.question_text}}</p>
        </div>
      </a>
    </div>

    {% endfor %}

  </div>
  <div class="col-md-2 col-xs-12">
  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}