{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="row">
  <div class="col-sm-9">
    <div class="card">
      <div class="card-header">
        <h4>IELTS Essay Question</h4>
        <a class="label theme-bg text-white f-12">{{question.topic}}</a>
        <a class="label theme-bg2 text-white f-12">{{question.question_type}}</a>
      </div>
      <div class="card-block">
        <p>{{question.id}}: {{question.question_text}}
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4>Write your answer</h4>
      </div>
      <div class="card-block">
        <form action="/" method="post" id="writing_form">
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="20" placeholder="Type your essay here..."></textarea>
          </div>
        
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="border-radius: 10px;">
      <div class="card-block text-center">
        <button type="button text-center" class="btn btn-primary" data-toggle="tooltip">START</button>
        <hr class="invisible">
        <h1>37:02</h1>
        <hr class="invisible">
        <h5>Time Remaining</h5>
        <hr class="invisible">
        <button type="submit" class="btn btn-primary" data-toggle="tooltip">SCORE MY ESSAY!</button>
      </form>
      </div>
    </div>
  </div>

</div>
<!-- [ Main Content ] end -->

{% endblock content %}